<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-8 offset-2">
        <br><br>
        <h3>Create a New Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="text" class="form-label">Title</label>
                <input type="text" name="listing[title]" placeholder="enter title" class="form-control"
                 required
                />
                <div class="valid-feedback">title looks good!</div>
            </div>
        
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="write description" class="form-control"  required></textarea>
                 <div class="invalid-feedback">Please enter a short Description</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="listing[image]" class="form-control" required/>
            </div>
        
            <div class="row">
                <div class="mb-3 col-md-5">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="12000" class="form-control"  required />
                    <div class="invalid-feedback">Please enter a valid Price</div>
                </div>

                <div class="mb-3 col-md-7">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="India" class="form-control"  required>
                     <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>
       
            <div class="mb-3">
                <label for="text" class="form-label">Location</label>
                <input type="text" name="listing[location]" placeholder="Jaipur, Rajasthan" class="form-control"  required>
                 <div class="invalid-feedback">Please enter a valid Location</div>
            </div>
            
            <button class="btn btn-dark add-btn">Add</button>
            <br><br>
        </form>
    </div>
</div>
